<section class="back pt-5">

    <div class="container">
        <div class="row mb-5 justify-content-center" *ngIf="error_message.length">
            <div class="col-8 alert alert-danger py-0">
                <p class="mb-0"> {{error_message}} </p>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mb-5">
            <div class="mx-auto text-center header col-5 pt-5">
                <h1 class="text-white mb-4"> login to your Account </h1>

                <p class="second"> Dont't have an account?
                    <a routerLink="/Register" class="text-white"> create your account </a>
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-md-5 mb-5 mx-auto">
                <div class="d-flex  flex-column align-items-end">
                    <form class="col-lg-6" [formGroup]="LoginForm" (ngSubmit)="onSubmit(LoginForm)">

                        <div class="mb-3">

                            <div class="form-floating">
                                <input type="email" class="form-control input_style" formControlName="email"
                                    [ngClass]="[LoginForm.get('email')?.errors != null && LoginForm.get('email')?.touched ? 'is-invalid':''  , LoginForm.get('email')?.errors == null && LoginForm.get('email')?.touched ? 'is-valid':'']">
                                <label class="second" for="floatingInput">Email address</label>
                            </div>

                            <div class="invalid-feedback"
                                *ngIf="LoginForm.get('email')?.errors != null && LoginForm.get('email')?.touched && LoginForm.get('email')?.errors?.['required']">
                                Email is required.
                            </div>

                            <div class="invalid-feedback"
                                *ngIf="LoginForm.get('email')?.errors != null && LoginForm.get('email')?.touched && LoginForm.get('email')?.errors?.['email']">
                                Email is not vaild.
                            </div>

                        </div>


                        <div class="mb-3">
                            <div class="form-floating">
                                <input type="password" class="form-control input_style" formControlName="password"
                                    [ngClass]="[LoginForm.get('password')?.errors != null && LoginForm.get('password')?.touched ? 'is-invalid':'' , LoginForm.get('password')?.errors == null && LoginForm.get('password')?.touched ? 'is-valid':'']">
                                <label class="second" for="floatingInput">Password</label>

                                <div class="invalid-feedback"
                                    *ngIf="LoginForm.get('password')?.errors != null && LoginForm.get('password')?.touched && LoginForm.get('password')?.errors?.['required']">
                                    password is required.
                                </div>
                            </div>
                        </div>

                        <div class="s_btn">
                            <button type="submit" class="btn fw-bold p-3 w-100" [disabled]="LoginForm.invalid">Login to
                                your account </button>
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-md-5 offset-2 mx-auto">
                <div class="mb-4 border-gradient col-lg-6">
                    <button class="btn text-white w-100 text-start"><i class="fa-brands fa-google me-2"></i>
                        sign in with google
                    </button>
                </div>

                <div class="mb-4 border-gradient col-lg-6">
                    <button class="btn text-white w-100 text-start"> <i class="fa-brands fa-facebook-f me-2"></i>
                        sign in with facebook
                    </button>
                </div>

                <div class="mb-4 border-gradient col-lg-6">
                    <button class="btn text-white w-100 text-start"> <i class="fa-brands fa-apple me-2"></i>
                        sign in with apple account
                    </button>
                </div>

            </div>


            <div class="text-center my-4">
                <a href="#" class="second"> Forgot Password? </a>
            </div>

        </div>

        <!-- <div class="row">
            <div class="d-flex justify-content-between py-4 second">

                <p>Privacy Policy</p>

                <p> Copyright@2022</p>

            </div>
        </div> -->


    </div>
</section>